@import 'variables';

// prettier-ignore
$worchester: (
    'extra-bold': (weight: 800, style: normal),
    'extra-bold-italic': (weight: 800, style: italic),
    'bold': (weight: 700, style: normal),
    'bold-italic': (weight: 700, style: italic),
    'demi-bold': (weight: 600, style: normal),
    'demi-bold-italic': (weight: 600, style: italic),
    'medium': (weight: 500, style: normal),
    'medium-italic': (weight: 500, style: italic),
    'regular': (weight: 400, style: normal),
    'regular-italic': (weight: 400, style: italic)
);

@each $key, $value in $worchester {
    $url: '/assets/fonts/worchester-#{$key}.ttf';

    @font-face {
        font-family: $font-family;
        src: url($url) format('truetype');
        font-weight: map-get($value, 'weight');
        font-style: map-get($value, 'style');
    }
}

@font-face {
    font-family: $font-family-decorative;
    src: url('/assets/fonts/chatelaine.ttf') format('truetype');
    font-weight: 400;
}

.font-decorative {
    font-family: $font-family-decorative;
}
