<h1 class="heading">Blueprints</h1>

<div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <div>Loading...</div>
</div>

<div *ngIf="getBlueprints$ | async as blueprints" class="blueprints" [ngClass]="{ small: layout.isSmall$ | async }">
    <div class="output">
        <myth-tools-blueprint [blueprints]="blueprints"></myth-tools-blueprint>

        <div class="lookup">
            <myth-tools-search (search)="onSearch($event)"></myth-tools-search>
            <myth-tools-result [search]="search"></myth-tools-result>
        </div>
    </div>
</div>
