<mat-accordion [multi]="true">
    <ng-container *ngFor="let blueprint of blueprints; trackBy: blueprintTrackBy">
        <mat-expansion-panel [(expanded)]="blueprint.isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>{{ blueprint.name }}</span>
                    <span class="summary" *ngIf="(layout.isSmall$ | async) === false">
                        <span *ngIf="blueprint.blueprints.length">{{ blueprint.blueprints.length }} directories</span>
                        <span *ngIf="blueprint.entities.length">{{ blueprint.entities.length }} entities</span>
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <myth-tools-blueprint
                    [blueprints]="blueprint.blueprints"
                    *ngIf="blueprint.blueprints.length"
                ></myth-tools-blueprint>

                <div *ngFor="let entity of blueprint.entities; trackBy: entityTrackBy" class="entity">
                    <myth-tools-entity [entity]="entity"></myth-tools-entity>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
